* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "vazir";
  src: url("./fonts/Vazir-Bold.woff") format("woff"),
  url("./fonts/Vazir-Light.woff") format("woff"),
    url("./fonts/Vazir-Light.woff2") format("woff2"),
    url("./fonts/Vazir-Medium.ttf") format("truetype");
}

:root {
  --clr-orange: #ef796c;
  --clr-white: #faf5f5ff;
  --clr-pink: #ebe0dfff;
  --clr-dark: #5a5874ff;
  --clr-blue: #9195de;
  --clr-green: #80b3a1ff;
  --clr-darkest: #2d2b3bff;
  --ff-primary: "vazir", sans-serif;
  --transition: all 0.3s linear;
}

body {
  background: var(--clr-white);
  font-family: var(--ff-primary);
  color: var(--clr-darkest);
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1 {
  color: var(--clr-orange);
  text-shadow: 2px 2px 5px var(--clr-dark);
  font-size: 1.75rem;
}

img{
  display: block;
  width: 100%;
}

header {
  background: linear-gradient(
      rgba(145, 149, 222, 0.6),
      rgba(239, 121, 108, 0.6)
    ),
    url(./images/pexels-larissafarber-10464846.jpg) center/cover no-repeat fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div {
  margin: auto;
  text-align: center;
  width: 100%;
}

h1,
h2,
h3,
h4
a {
  /* padding: 10px 0; */
  margin-bottom: 1.5rem;
  line-height: 1.5;
}


.btn {
  background-color: var(--clr-dark);
  color: var(--clr-pink);
  width: auto;
  margin-top: 2rem;
  border-radius: 5px;
  transition: var(--transition);}


.header-btn{
  outline: 0.125rem solid var(--clr-dark);
  outline-offset: 0.25rem;
  padding-bottom: 14px;
  padding: 10px;
}

.btn:hover {
  background-color: var(--clr-orange);
  color: black;
}

.devider {
  height: 0.5rem;
  background: linear-gradient(
    to right,
    var(--clr-dark),
    var(--clr-blue),
    var(--clr-dark)
  );
}

 /* =========  end of the header  =========  */

 .features{
  background: var(--clr-pink);
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
 }

 .feature{
    text-align: center;
    padding: 10px;
    height: 300px;
 }

 .feature-icon{
  font-size: 2rem;
  color: var(--clr-orange);
  margin: 1.2rem 0;
  display: inline-block;
  transition: var(--transition);
 }


h4{
  margin-bottom: 1rem;
 }


 .feature{
  width: calc(100% - 1rem);
  margin: 0.5rem;
  transition: var(--transition);
  border-radius: 3px;
 }


 .feature:hover{
  background-color: var(--clr-white);
  border-bottom: solid 5px var(--clr-orange);
 }

 .feature-text{
  font-size: 1rem;
  color: var(--clr-dark);
  margin: 0 auto;
  padding: 4px;
 }

 .feature:hover .feature-icon{
  transform: translateY(-5px);
 }
 
 /* =========  end of the features  ========= */

 .about{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  padding: 1rem;
  flex-wrap: wrap;
 }
 .about-img{
  padding: 4rem 0;
  margin: 0 auto;
  box-sizing: border-box;
  
 }
.about-pic-container{
  border: solid 6px var(--clr-blue);
  border-radius: 8px;
  max-width: 20rem;
  height: max-content;
  object-fit: cover;
  margin: 0 auto;
}
.about-info{
  padding: 1rem;
  max-width: 450px;
  margin-bottom: 1rem;
}
.ma{
  color: var(--clr-blue);
  font-size: 30px;
}
.about-text{
  font-size: 15px;
  padding: 5px 0;
  margin-bottom: 1rem;
}
  
.about-btn {
  padding: 5px;
  
}

 /* =========  End of About  ========= */


.services{
  background: var(--clr-pink);
  padding: 2rem;
 }

.service{
  text-align: center;
  padding: 0.5rem;
  margin-bottom: 1rem;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-title{
  text-align: center;
}

.service-icon{
  font-size: 1.7rem;
  color: var(--clr-white);
  background: var(--clr-orange);
  padding: 5px 0px 0;
  border-radius: 8px;
  margin-bottom: 1rem;
  width: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service-text{
  font-size: 13px;
  padding: 3px;
}





@media screen and (min-width: 375px) {
  h1 {
    font-size: 2.16rem;
  }


  h2 {
    font-size: 1.6rem;
  }
}

@media screen and (min-width:500px) {
  .feature{
    width: calc(50% - 1rem);
  }
 }

@media screen and (min-width:710px) {
  .about{
    flex-direction:row;
    margin: 0 auto;
    justify-content: center;
  }
  .about-img{
    margin:0 2rem;
  }
  
}

@media screen and (min-width:910px){

  .about{
    gap: 0 3rem;
  }
  .about-info{
   max-width: 520px;
   }
   .about-text{
    font-size: 17px;}
    
  .about-img{
    position: relative;
  }
  .about-pic-container{
    border: none; 
  } 

  .about-img::before{
     /* border: none; */
    content: "";
    border: 0.5rem solid var(--clr-blue);
    position: absolute; 
    width: 100%;
    height: 80%;
    top: 3rem;
    right : -1rem;
    box-sizing: border-box;
    position: absolute;
    z-index: -1;
  }
}

@media screen and (min-width:1100px) {
  .feature{
    width: calc(25% - 1rem);
  }
  .about-info{
    max-width: 600px;
    }

    .about{
      gap: 4.5rem;
    }
 }
 
 